# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Topics/Constructor/Account and its owner/out/
/Topics/Constructor/Account and its owner/out/production/classes/
/Topics/Floating-point types/Difference between two doubles/out/
/Topics/Floating-point types/Difference between two doubles/out/production/classes/
/Topics/Floating-point types/Liquid pressure/out/
/Topics/Floating-point types/Liquid pressure/out/production/classes/
/Topics/Hierarchy of exceptions/Base class/out/
/Topics/Hierarchy of exceptions/Base class/out/production/classes/
/Topics/Random/Find the seed/out/
/Topics/Random/Find the seed/out/production/classes/
/Topics/String/Extracting a substring/out/
/Topics/String/Extracting a substring/out/production/classes/
/Topics/The keyword super/Employees/out/
/Topics/The keyword super/Employees/out/production/classes/
/Topics/What is an exception/Avoid division by zero/out/
/Topics/What is an exception/Avoid division by zero/out/production/classes/